.week-view-container {
    margin: 30px 0 0 0;
    padding: 30px;

    h1 {
    }

    .scroll {
        margin: 30px 0 0 0;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        gap: 25px;

        @media (max-width: 768px) {
            margin: 10px 0 0 0;
        }
    }

    @media (max-width: 768px) {
        margin: 0;
    }
}
