#root {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 400px; /* Make the left side take the remaining space */
    grid-template-rows: 1fr;
    grid-template-areas: "left-side  day-view"; /* Define areas for components */

    .left-side {
        grid-area: left-side;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
    }

    .day-view {
        grid-area: day-view;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
        width: 400px;

        @media screen and (max-width: 768px) {
            position: absolute;
            top: 95%;
            left: 0;
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "left-side"
            "day-view";
    }
}
